html
    head 
        link(rel="stylesheet", href="/css/style.css")
    body 
        div(class="login")
            div(class="login--wrap")
                div(class="login--content")
                    div(class="login--left")
                        img(src="/img/login.webp")
                    div(class="login--right")
                        div(class="login--right__wrap")
                            p Nhập tài khoản Email
                            div(class="login--right__info")
                                form(action=`/login/forgotPass`, method="post") 
                                    input(type='text' name='email' placeholder='Email') 
                                    button(type="submit") Xác nhận
                            
