doctype html
html
    head 
        link(rel="stylesheet", href="/css/style.css")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH' crossorigin='anonymous')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css' integrity='sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==' crossorigin='anonymous' referrerpolicy='no-referrer')
    body
    div(class='screen')
        div(class='main')
            include ../includes/header.include.pug                   
            div(class='layoutproduct')
                a(href="/") Home 
                span > 
                a(href="/products") Product
            .container
                .row
                    .col-2
                        div(class="search")
                            form(action="products/search", method="get")
                                div(class="form--group")
                                    label(for="search") Nhập tìm kiếm 
                                    input(type="text" name="search" class="search--input")
                                div(class="form--group__select")
                                    label(for="order_by") Sắp xếp  
                                    select(name="order_by")
                                        option(value='asc') Giá tăng dần
                                        option(value='desc') Giá giảm dần  
                                button(type="submit") Tìm kiếm
                    .col-10
                        p PRODUCTS
                        .div(class='main--product')
                            each item in data 
                                div(class='section')
                                    div(class='section--item')
                                        div(class='section--item__img')
                                            img(src=item.images[0])
                                        div(class='section--item_des')
                                            p #{item.title}
                                            h6 $#{item.price}
                                            a(href=`products/search/${item.id}`) Xem thêm
    script(src="/js/scroll-header.js")
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz' crossorigin='anonymous')