footer 
    body
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
    integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
        link(rel="stylesheet", href="/css/style.css")
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN' crossorigin='anonymous')
        div(class='footer')
            .container
                .row
                    .col
                        img(src='/img/logo--right.png')
                        a
                            | 55 Gallaxy Enque, 
                            br
                            | 2568 steet, 23568 NY
                        a
                            b Phone
                            | : (440) 000 000 0000
                    .col
                        p(class='end--title') INFORMATION
                        a About us
                        a Contact Us
                        a Career
                        a My Account
                        a Orders and Returns
                    .col
                        p(class='end--title') QUICK SHOP
                        a Fashion
                        a Men
                        a Furniture
                        a Home Decor
                        a Shoes
                    .col
                        p(class='end--title') CUSTOMER SERVICES
                        a Help &amp; FAQs
                        a Returns Policy
                        a Terms &amp; Conditions
                        a Privacy Policy
                        a Support Center
                    .col
                        p(class='end--title') NEWSLETTER
                        a
                            | Enter your email to receive daily news and get 20% off
                            | coupon for all items.
                        form
                            input(type='email' placeholder='Email address' required='')
                            button(class='button--one') SUBSCRIBE
                        div(class='end')
                div
                     a
                        | &copy; 2024 Avone. All Rights Reserved. Ecommerce Software by
                        | Shopify
                        br
                        |  Designed by AdornThemes 
            script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL' crossorigin='anonymous')
