headerAdmin
    head
        link(rel="stylesheet", href="/css/styleAdmin.css")
    body
        div(class="header")
            span #{user.fullName}
            a( href="/admin/logout") Đăng Xuất
            i.fa-solid.fa-right-from-bracket